@use "variables";

.heading__reservation {
  background-image: url(/images/cheesecake-big.jpg);
}

.reservation__text {
  font-size: 18px;
  font-weight: bold;
  margin: 40px;
}

.form {
  width: 100%;
  max-width: 300px;
}

.form__field {
  margin-bottom: 10px;
  
  & > label {
    display: block;
    font-size: 14px;
    text-align: left;
  }

  & input[type="text"],
  & input[type="email"],
  & input[type="number"],
  & input[type="datetime-local"],
  & textarea {
  width: 100%;
	border: 1px solid variables.$color-primary;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px;
	background-color: white;
  }
}
