@use "variables";

.heading__contact {
  background-image: url(/images/big/croissant-big.jpg);
}

.contact {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  
  &__cafe,
  &__official {
    grid-column: 2;
  }

  &__title {
    text-align: left;
    margin: 20px 0;

    &--map {
      text-align: center;
    }
  }

  &__item {
    display: flex;
  }

  &__image {
    width: 30px;
  }

  &__text {
    margin-left: 20px;
    text-align: left;
  }

  &__text p {
    margin: 10px 0;
  }
}

.map {
  width: 100%;
  margin-bottom: -4px;
}

@media screen and (min-width: 640px) {
  .contact {
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;

    &__cafe,
    &__official {
      margin: 0;
    }

    &__cafe {
      grid-column: 2;
    }

    &__official { 
      grid-column: 4;
    }

    &__title {
      text-align: center;
    }

    &__image {
      width: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    grid-template-columns: 15% 25% 20% 25% 15%;

    &__title {
      margin: 40px 0 20px 0;
  
      &--map {
        margin: 40px 0;
      }
    }
  }
}
