@use "variables";

.heading__contact {
  background-image: url(/images/croissant-big.jpg);
}

.contact {
  &__cafe,
  &__official {
    margin: 0 40px;
  }

  &__title {
    text-align: left;
    margin: 20px 0;
  }
  &__item {
    display: flex;
  }

  &__image {
    width: 30px;
  }

  &__text {
    margin-left: 20px;
    text-align: left;
  }

  &__text p {
    margin: 10px 0;
  }
}

.map {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .contact {
    display: flex;

    &__cafe,
    &__official {
      flex-basis: 50%;
    }

    &__title {
      text-align: center;
    }

    &__item {
      margin: 0 auto;
      width: 75%;
    }

    &__image {
      width: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    &__cafe {
      margin-left: 200px;
    }

    &__official {
      margin-right: 200px;
    }
  }
}
